* {
    font-family: 'Roboto', sans-serif;
    line-height: 100%;
}

body {
    background-color: #fff;
}

.container {
    padding: 0;
}

h3.title {
    margin: 0 auto;
    text-align: center;
    color: $white;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;

    @media (max-width: 991px) {
        font-size: 24px;
    }

    @media (max-width: 767px) {          
        font-size: 20px;
    }
}

.title-footer {
    color: $white;
    font-size: 14px;
    font-weight: 300;
    font-size: 16px;
    font-weight: 700;
}

.moduls-items {
    margin-top: 8px;
    list-style-type: none;
    padding: 0;               

    a {
        color: $white;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        text-decoration: none;

        @media (max-width: 991px) {
            font-size: 12px;
        }
    }                
    
}