* {
    font-family: 'Roboto', sans-serif;
    line-height: 100%;
}

body {
    background-color: #fff;
}

.container {
    padding: 0;
}

h3.title {
    margin: 0 auto;
    text-align: center;
    color: $white;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
}